<template name="company_form">
  <div class="demo-charts mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--12-col mdl-grid">
    <form class="new-company">
      <div class="mdl-textfield mdl-js-textfield textfield-demo">
        <input class="mdl-textfield__input" type="text" name="company"  />
        <label class="mdl-textfield__label">Sua empresa</label>
      </div>

      <br>

      <button type="submit" class="mdl-button mdl-js-button mdl-button--raised">
        Salvar
      </button>
    </form>
  </div>
</template>
