<template name="login">
  <style media="screen">
    body {
      background:#F7F7F7;
    }
  </style>
  <div class="">
      <a class="hiddenanchor" id="toregister"></a>
      <a class="hiddenanchor" id="tologin"></a>

      <div id="wrapper">
          <div id="login" class="animate form">
              <section class="login_content">
                  <form>
                      <h1>Pocket Pointing</h1>
                      {{> loginButtons}}

                      <div class="clearfix"></div>
                      <div class="separator">

                      </div>
                  </form>
                  <!-- form -->
              </section>
              <!-- content -->
          </div></div>
  </div>



</template>
